body{
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-image: url(https://img2.wallspic.com/crops/1/5/0/6/7/176051/176051-ios-smartphone-liquid-purple-violet-3840x2160.jpg);
    margin: 0%;
}

.style{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.style p{
    margin: 5px;
    display: flex;
    justify-content: center;
    background-color:white;
    width: 70px;
    line-height: 2;
    border-radius: 5px;
}
.h-a{
    display: flex;
}
.style2{
    color: rgb(253, 253, 253);
    margin: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
